<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>How did you get past our security???</title>
  </head>
  <body>
    <a href="/logout">Logout</a>
    <div class = "header">
      <h1>Super secure blog about cybersecurity</h1>
    </div>
    <h1>How did you hack us</h1>
    <p>Security maintained by McAfee</p>
    <form action = '/search' method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="text" name="search" placeholder="Search..">
      <button type="submit">Search</button>
    </form>
    <ul>
      <% posts.forEach((post) => { %>
        <li>
          <h2><%= post.title %></h2>
          <p><%= post.content %></p>
          <p><%= post.date %></p>
          
            <a href="/editPost/<%= post.id %>">Edit post</a>
            <form action="/deletePost" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="post_id" value="<%= post.id %>">
              <button type="submit">Delete post</button>
            </form>
          
        </li>
      <% }); %>
    </ul>
    <a href="/newPost"> Create a post</a>
  </body>
</html>